.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(10);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(35);
  width: rem(35);
  border-radius: 50%;
  cursor: pointer;
}
