.mainPageContainer {
  margin: 0 auto;
  max-width: rem(1280);
}

.button {
  width: rem(150);
  font-weight: 700;
  color: var(--color-white);
  background: var(--color-red-500);
  padding: 8px 0;
  border: transparent;
  cursor: pointer;
}