.searchSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-amber-100);
  gap: rem(20);
  padding: rem(20);
}

.input {
  height: rem(40);
  width: rem(400);
  background-color: var(--color-white);
  border: transparent;
  border-radius: rem(8);
  outline: none;
  padding: rem(8) rem(12);
}

.button {
  height: rem(40);
  border: transparent;
  border-radius: rem(8);
  padding: rem(8) rem(20);
  background-color: var(--color-gray-300);
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-gray-400);
  transition: all 0.3s ease-in-out;
}