.refreshButton {
  height: rem(40);
  max-width: rem(100);
  border: transparent;
  border-radius: rem(8);
  padding: rem(8) rem(20);
  background-color: var(--color-gray-300);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.refreshButton:hover {
  background-color: var(--color-gray-400);
}
