.notFound {
  margin: 0 auto;
  max-width: rem(1280);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(40);
}

.title {
  font-size: rem(30);
  line-height: rem(36);
  font-weight: 700;
}

.button {
  height: rem(40);
  border-radius: rem(8);
  background-color: var(--color-gray-300);
  padding: rem(8) rem(20);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #000;
}

.button:hover {
  background-color: var(--color-amber-500);
}
